.Cart {
    display: flex;   
}

.Cart__left{
    flex: 0.7;
    margin-left: 20px;
}
.Cart__left >img {
    width: 95%;
    height: 150px;
    margin-bottom: 20px;
}
.Cart_title{
    margin-left: 30px;
}
.Cart_title__divider{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 70%;
    margin: 10px 0px 0px 30px;
    margin-bottom: 20px;
}



.Cart__right{
    flex: 0.3;
}