.Home {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.Home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -250px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.Home__productRow {
  display: flex;
  flex: 1;
  z-index: 1;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
